<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <link rel="stylesheet" href="/css/import.css">
</head>

<body>
{% from '_header.html' import header %}
<div class="nhsuk-o-grid">
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
    <p>nhsuk-o-grid__item--full</p>

<div class="nhsuk-care-card nhsuk-care-card--non-urgent">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span class="nhsuk-u-visually-hidden"><span role="text">Non-urgent advice: </span>Speak to a GP if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">
    <ul>
      <li>you're not sure it's chickenpox</li>
      <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
      <li>your child is <a href="https://www.nhs.uk/conditions/dehydration">dehydrated</a></li>
      <li>you're concerned about your child or they get worse</li>
    </ul>
    <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
  </div>
</div>

  </div>
</div>
 <footer></footer>
    <script src="/libs/nhsuk-frontend/nhsuk.min.js" defer></script>
    <script src="/libs/jquery/jquery.min.js" defer></script>
    <script src="/libs/nunjucks/browser/nunjucks.min.js"></script>
</body>
</html>